<<<<<<< HEAD
:root {
  --width-hijo: 80px;
}

.padre {
  width: 200px;
  height: 200px;
  background: linear-gradient(#274B4E, #5D3E2A, #274B4E);
  position: relative;
  border-radius: 50%;
  font-size: 100px;
}

.hijo {
  width: var(--width-hijo);
  height: 180px;
  border: 2px solid black;
  position: absolute;
  right: calc(50% - var(--width-hijo)/2);
  top: 10px;
}

.hijo2 {
  position: absolute;
  right: calc(50% - var(--width-hijo)/2);
  top: -10px;
}

.font {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: salmon;
  font-size: 36px;
  text-align: start;

}

h1 span {
  display: block;
  opacity: 0.5;
}

.green {
  color: green;
}

.inline {
  display: inline;
}

#esto-es-id {
  background-color: red;
}

.relative {
  position: relative;
  border: 2px solid #5D3E2A;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #274B4E;
}

.absolute {
  position: absolute;
  border: 2px dashed #2a515d;
  width: 100px;
  height: 50px;
  transform: rotate(45deg);
  border-bottom: none;
  border-right: none;
  right: 15px;
  top: -10px;
=======
.que {
  border: 1px solid red;
}

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.center-vertical {
  align-items: center;
}

li {
  list-style: none;
}

.p1 {
  padding: 8px;
}

.p2 {
  padding: 16px;
}

.p3 {
  padding: 32px;
}

.mr1 {
  margin-right: 16px;
}

.mt3 {
  margin-top: 18px;
}

.main-container {
  margin: 0 100px;
}

.img-header {
  width: 50px;
}

.flex {
  display: flex;
}

.space {
  justify-content: space-between;
}

.center {
  text-align: center;
}

.button-header {
  padding: 6px 10px;
  color: white;
  background-image: linear-gradient(rgb(71, 71, 71), rgb(7, 7, 7));
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all;
}

.button-header:hover {
  transition-duration: 0.4s;
  box-shadow: 2px 3px 8px rgba(245, 3, 3, 0.3);
}

.border-rigth {
  border-right: 1px solid rgb(144, 144, 144);
}

.login-item {
  padding-right: 16px;
  margin-right: 8px;
}

.message-top {
  background-color: rgba(243, 168, 254, 0.536);
  padding-bottom: 16px;
  border-bottom: 1px solid blueviolet;
}

.accel {
  color: blueviolet;
  font-weight: 600;
  display: inline;
>>>>>>> 0d132af7e28976781187d052f8bc026958cbf481
}